@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  width: 100vw;
  height: 100vh;
  touch-action: none;
}

.progress-on {
  animation: progress 2.5s linear;
  animation-fill-mode: forwards;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
