@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  width: 100vw;
  height: 100vh;
  touch-action: none;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

.progress-on {
  animation: progress 2.5s linear;
  animation-fill-mode: forwards;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.wave {
  opacity: 0.4;
  position: absolute;
  background: #0af;
  width: 100vw;
  height: 100vw;
  margin-top: calc(100vw * -0.5);
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}

.wave.three {
  animation: drift 5000ms infinite linear;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  from {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.cursor {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: drift 1s linear infinite;
}

.cursor:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgb(39, 41, 53);
  border-radius: 50%;
  z-index: 1000;
}

.cursor:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1000;
  filter: blur(30px);
}
